 # Python
__pycache__/
*.pyc
venv/

# Environment
.env

# Docker
postgres_data/

# Alembic cache
*.db

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db




__pycache__/
*.pyc
venv/
.env
postgres_data/






# Python
venv/
__pycache__/
*.pyc
.env

# Node
node_modules/
dist/
frontend/node_modules/

# OS
.DS_Store
Thumbs.db